APP_URL=http://localhost:3000
NODE_ENV=development
DB_USER=postgres
DB_PASSWORD= # or DB_PASSWORD_FILE=
DB_HOST=localhost
DB_NAME=watch_load_db
AUTH_SECRET=
ENCRYPTION_KEY=
JWT_APP_ISSUER=app
JWT_APP_AUDIENCE=app
JWT_SECRET=
WITHINGS_CLIENT_ID=
WITHINGS_CLIENT_SECRET=